/* Footer
-------------------------------------------------- */

.site-footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 40px 0;
  font-size: 16px;
  line-height: 1;
  text-align: center;

  p {
    margin-bottom: 0;
  }

}
