/* Header
-------------------------------------------------- */

.site-header {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 20px;
  background-color: #fff;

  .wrap {
    padding: 0;
  }

  .widget-area {
    width: 100%;
    @media (min-width: 750px) {
      float: right;
      max-width: 620px;
      text-align: right;
    }
    @media (min-width: 1200px) {
      max-width: 800px;
    }
  }

}

.title-area {
  float: left;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  @media (min-width: 750px) {
    text-align: left;
  }
  @media (min-width: 1000px) {
    padding: 10px 20px;
  }
  @media (min-width: 1200px) {
    max-width: 360px;
  }
}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  @media (min-width: 750px) {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      text-decoration: none;
      color: #333;
    }

  }

}

.header-image .site-title {
  display: block;
  text-indent: -9999px;

  > a {
    float: left;
    width: 100%;
    min-height: 60px;
    background: url('images/logo.png') no-repeat left;
  }

}
