/* Header
-------------------------------------------------- */

.site-header {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0 20px;

  .wrap {
    padding: 0;
  }

  .widget-area {
    width: 100%;
  }

}

@media (min-width: 750px) {
  .site-header .widget-area {
    float: right;
    text-align: right;
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .site-header .widget-area {
    max-width: 800px;
  }
}

.title-area {
  float: left;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 750px) {
  .title-area {
    text-align: left;
  }
}
@media (min-width: 1000px) {
  .title-area {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) {
  .title-area {
    max-width: 360px;
  }
}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #333;
      text-decoration: none;
    }

  }

}

@media (min-width: 750px) {
  .site-title {
    text-align: left;
  }
}

.header-image .site-title {
  display: block;
  text-indent: -9999px;

  > a {
    background: url('images/logo.png') no-repeat left;
    float: left;
    min-height: 60px;
    width: 100%;
  }

}