/* Entry Content
-------------------------------------------------- */
.entry-title a {
  text-decoration: none;
  color: #333;
}

.entry-title a:hover {
  color: #1EAEDB;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p,
.entry-content ul,
.entry-content ol {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}


/* Entry Meta
-------------------------------------------------- */
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px;
}

.entry-categories,
.entry-tags {
  display: block;
}


/* Images
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
  margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

.wp-caption {
  width: 100% !important;
}

.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}


/* iFrame Embeds
-------------------------------------------------- */
.iframe-embed {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}


/* Widgets
-------------------------------------------------- */
.widget {
  word-wrap: break-word;

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: none;
    margin: 0 0 0 30px;
    padding: 0;
  }

}

/* Pagination
-------------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0;

  ul {
    text-align: center;
  }

  li {
    display: inline;

    a {
      display: inline-block;
      padding: 8px 12px;
      background-color: #333;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        background-color: #1EAEDB;
      }

    }

  }

  .active a {
    background-color: #1EAEDB;
  }
  
}
