/* Pagination
-------------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0;

  ul {
    text-align: center;
  }

  li {
    display: inline;

    a {
      display: inline-block;
      padding: 8px 12px;
      background-color: #333;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        background-color: #1EAEDB;
      }

    }

  }

  .active a {
    background-color: #1EAEDB;
  }

}
