/* Pagination
-------------------------------------------------- */
.pagination {
  margin: 40px 0;
  clear: both;

  ul {
    text-align: center;
  }

  li {
    display: inline;

    a {
      display: inline-block;
      padding: 8px 12px;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
      background-color: #333;
      cursor: pointer;

      &:hover {
        background-color: $link-color;
      }

    }

  }

  .active a {
    background-color: $link-color;
  }

}
