/* Sidebars
-------------------------------------------------- */
.sidebar {
  float: right;
  width: 100%;
  font-size: 16px;
}
@media (min-width: 1000px) {
  .sidebar {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 360px;
  }
}

.sidebar-content .sidebar {
	float: left;
}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: 40px;
  background-color: #fff;
}
