.site-inner,
.wrap {
	float: none;
	margin: 0 auto;
	max-width: 1200px;
}
@media only screen and (max-width: 1280px) {
	.site-inner,
	.wrap {
		max-width: 1140px;
	}
}
@media only screen and (max-width: 1200px) {
	.site-inner,
	.wrap {
		max-width: 960px;
	}
}
@media only screen and (max-width: 1023px) {
	.site-inner,
	.wrap {
		max-width: 768px;
	}
}
@media only screen and (max-width: 800px) {
	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}
}

.content {
	float: left;
	width: 700px;
}
@media only screen and (max-width: 1200px) {
	.content {
		width: 520px;
	}
}
@media only screen and (max-width: 1023px) {
	.content {
		width: 100%;
	}
}

.sidebar {
	float: right;
	width: 360px;
}
@media only screen and (max-width: 1023px) {
	.sidebar {
		width: 100%;
	}
}
