$body-font: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$link-color: #1eaedb;
$link-color-hover: #0fa0ce;

$button-text-color: #fff;
$button-background-color: #33c3f0;

$button-text-color-hover: #fff;
$button-background-color-hover: #1eaedb;
