/* Structure and Layout
-------------------------------------------------- */
.site-container {
  display: -webkit-box; /* old prefixed for webkit */
  display: -ms-flexbox; /* inbetween prefixed for ie */
  display: -webkit-flex; /* new prefixed for webkit */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.site-inner {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 auto;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1000px) {
  .site-inner {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .site-inner {
    max-width: 1160px;
  }
}

.content {
  float: right;
  width: 100%;
}
@media (min-width: 1000px) {
  .content {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 760px;
  }
}

.full-width-content .content {
  width: 100%;
}

.content-sidebar .content {
  float: left;
}

.title-area,
.entry-header,
.entry-footer,
.archive-title,
.entry-comments,
.comment-respond {
  max-width: 760px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .title-area,
  .entry-header,
  .entry-footer,
  .archive-title,
  .entry-comments,
  .comment-respond  {
    max-width: none;
  }
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 750px) {
  .wrap {
    max-width: 760px;
  }
}
@media (min-width: 1000px) {
  .wrap {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wrap {
    max-width: 1160px;
  }
}

/* wrap inside entry-content; mostly for iframe embeds */
.entry-content .wrap {
  max-width: 760px;
}
